@font-face {
  font-family: "zft";
  src: url('./sanjizhuifengti.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jie";
  src: url('./sanjizhijiekaishu.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jfl";
  src: url('./jfl.ttf');
  font-weight: normal;
  font-style: normal;
}